<!-- SECCION DE INFORMACION PERSONAL -->

<section class="p-5">

<h1 class="fw-light">Proyecto Final Angular-Nginx.</h1>
        <p>Creado, sufrido y protagonizado por Ramses Zuñiga Rodriguez.</p>



        <div class="card" style="width: 18rem;">
          <img src="../assets/ramses.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rmases Zuñiga Rodriguez</h5>
            <p class="card-text">Soy de San José, Alajuelita, tengo 20 años, y este es mi proyecto de Angular.</p>
            <a href="https://github.com/ramsesZr/Proyecto-Combinando-Todo-Ucreativa.git" class="btn btn-primary">Link de repositorio (GitHub)</a>
          </div>
        </div>


</section>

<!-- SECCION DE LA F1 -->

<section class="p-5">

  <section class="p-5">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Fase 1</div>
      <div class="card-body">
        <h5 class="card-title">Instalacion de los Softwares.</h5>
        <p class="card-text">-	Studio Code, Angular, Git, Nginx.</p>
      </div>
    </div>

    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-success" style="width: 20%">20%</div>
    </div>

  </section>

</section>

<!-- SECCION DE LA F2-->

<section class="p-5">

  <section class="p-5">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Fase 2</div>
      <div class="card-body">
        <h5 class="card-title">Creación.</h5>
        <p class="card-text">Creamos la aplicación Angular y la ponemos a correr para verificar que todo este correcto.</p>
      </div>
    </div>

    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-info text-dark" style="width: 40%">40%</div>
    </div>

  </section>
  
</section>

<!-- SECCION DE LA F3-->

<section class="p-5">

  <section class="p-5">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Fase 3</div>
      <div class="card-body">
        <h5 class="card-title">Nginx.</h5>
        <p class="card-text">Poner a correr Nginx y verificar que este instalada correctamente.</p>
      </div>
    </div>

    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-warning text-dark" style="width: 60%">60%</div>
    </div>

  </section>

</section>

<!-- SECCION DE LA F4-->

<section class="p-5">

  <section class="p-5">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Fase 4</div>
      <div class="card-body">
        <h5 class="card-title">Repositorio.</h5>
        <p class="card-text">La creación del Repositorio en GitHub y subir el Archivo.</p>
      </div>
    </div>

    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-blue text-dark" style="width: 80%">80%</div>
    </div>

  </section>

</section>

<!-- SECCION DE LA F5-->

<section class="p-5">

  <section class="p-5">
    <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Fase 5</div>
      <div class="card-body">
        <h5 class="card-title">Ultimo Paso.</h5>
        <p class="card-text">Generamos el Archivo Build con “ng build” y lo movemos en el folder HTML de Nginx, y revisamos si se hizo correctamente por medio de (http://localhost) .</p>
      </div>
    </div>

    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-danger text-dark" style="width: 100%">100%</div>
    </div>

  </section>

</section>

<!-- SECCION DEL PROFESOR -->

<section class="p-5">

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Especial para el Profesor</h5>
          <p class="card-text">Dedicado para el Profesor de la Universidad.</p>
          <a href="https://images.app.goo.gl/r52ipSo1RQSkbVTk7" class="btn btn-primary">Click aqui!</a>
        </div>
      </div>
    </div>
  </div>

</section>

<router-outlet />